<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=> "form-control", :required=> true %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=> "form-control" %>
  </div>

  <%= f.label "Date and time" %><br>

  <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
          <%= text_field_tag 'at', @competition.at.try(:strftime, '%m/%d/%Y%l:%M %p'), {:class=>"form-control", :required=>true, :placeholder=>"Event Date"} %>
          <!-- <input type='text' name='datetime' class="form-control" /> -->
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </div>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class=> "form-control", :required=> true %>
  </div>

  <div class="field">
    <label>Image (Optional)</label><br>
    <%= f.text_field :image, :class=> "form-control", :placeholder=>"Image URL" %>
  </div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          dateFormat: 'YY-mm-dd ',
          timeFormat: 'hh:mm:ss ',
          ampm: false
        });
    });
</script>




  <div class="actions">
    <%= f.submit 'Save Competition', :class=> "btn btn-primary" %>
  </div>
<% end %>
