<h1>League of Legends Competition Coordinator</h1>
<div class="row">
  <div class="col-md-6">
<p>
  League coordinator allows you coordinator League competitions or join existing ones. After that you have the option to join a team or remain a freelance
</p>
</div>

</div>
<hr>

<p>
<%= link_to 'Create A Competition', new_competition_path %>
</p>

<ul class="list-group">

  <% time_now = Time.now %>

    <% @competitions.each do |competition| %>
    <a class="list-group-item" href="<%= url_for competition %>">
      <% days_until = ((competition.at - time_now) / 1.days) %>

    <span style="float:right">
        <% if time_now >= competition.at %>
            <span style="color:red"><%= competition.at.strftime("%B %d, %Y at %I:%M %p")  %></span>
              <% elsif days_until < 1 %>
                in <%= ((days_until * 1.days) / 1.hours).round %> hours
                  <% elsif days_until < 3 %>
                    in <%= days_until %> days
        <% else %>
          <%= competition.at.strftime("%B %d, %Y at %I:%M %p")  %>
        <% end %>
      </span>

      <h4><%= competition.name %></h4>
        <%= competition.description %>




    </a>
    <% end %>
  </ul>
<br>
