<p>
<%= link_to 'Back', competitions_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competition.description %>
</p>

<p>
  <strong>At:</strong>
  <%= @competition.at.strftime("%B %d, %Y at %I:%M %p")  %>

</p>

<p>
  <strong>Active:</strong>
  <%= @competition.active %>
</p>

<% if !@is_member %>
  <center><%= link_to 'Join Competition', {:controller => "competitions", :action => "join", :id => params[:id]} %></center>
<% else %>
  <%= link_to 'Leave Competition', {:controller => "competitions", :action => "leave", :id => params[:id]} %>
  <p>
    <center>
      <span style="color:green">Good luck!</span>
  </center>
  </p>
<% end %>

<hr>

<p>
Teams <span><%= @teams.count %></span>
</p>
<p>
  <%= link_to 'Create Team', new_team_path( :competition_id => params[:id]) %>
</p>
<p>
<% @teams.each do |t| %>
  <% if @is_member and t.id == @users_association.team_id %>
    <span style="color:green">Member</span>

  <% else %>
    <%= link_to 'Join', {:controller => 'teams', :action => 'upmate', :id => t.id} %>

   <% end %>
   <%= link_to t.name, t %>

  <% if t.count < 2 %>
    <span style="color:red">
  <% elsif t.count > 1 and t.count < 4 %>
    <span style="color:orange">
  <% elsif t.count > 4 %>
    <span style="color:green">
  <% end %>
  <%= t.count %>/5<span>

  <br>
<% end %>
</p>
<p>
  <% if @users_association != nil and @users_association.team_id != nil %>
  <% user_team = @users_association.team %>

  Your team
  <br>
  <%= link_to user_team.name, user_team %>
    <% if user_team.count < 2 %>
      <span style="color:red">
    <% elsif user_team.count > 1 and user_team.count < 4 %>
      <span style="color:orange">
    <% elsif user_team.count > 4 %>
      <span style="color:green">
    <% end %>
    <%= user_team.count %>/5<span>
  <% end %>
</p>

<hr>

<p>
  Freelancer Players
</p>
<p>
  <% @freelancers.each do |f| %>
    <div><%= f.user.email.humanize %></div>
    <% if f.user.phone != nil %><div>Contact: <%= f.user.phone %></div><% end %>
    <small>Lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>

  <% end %>
</p>
