<p>
<%= link_to 'Back', competitions_path %>
</p>

<h2><%= @competition.name %></h2>

<p>
  <strong>Description:</strong>
  <%= @competition.description %>
</p>

<p>
  <strong>At:</strong>
  <%= @competition.at.strftime("%B %d, %Y at %I:%M %p")  %>

</p>

<p>
  <strong>Active:</strong>
  <%= @competition.active %>
</p>

<% if !@is_member %>
  <center><%= link_to "<span class='glyphicon glyphicon-ok-sign'></span>".html_safe , {:controller => "competitions", :action => "join", :id => params[:id]}, :style => "color:green;font-size:300%" %><br>Join Competition</center>
<% else %>
  <span style="font-size:130%;color:red" class='glyphicon glyphicon-minus-sign'></span> <%= link_to "Leave Competition", {:controller => "competitions", :action => "leave", :id => params[:id]} %>
  <p>
    <center>
      <span style="color:green">Good luck!</span>
  </center>
  </p>
<% end %>

<hr>

<p>
Teams <span class="badge"><%= @teams.count %></span>
</p>
<p>
  <%= link_to 'Create Team', new_team_path( :competition_id => params[:id]) %>
</p>
<p>
<% @teams.each do |t| %>
  <% if @is_member and t.id == @users_association.team_id %>
    <span style="color:green">Member</span>

  <% else %>
    <%= link_to "<span class='glyphicon glyphicon-plus-sign'></span>".html_safe , {:controller => 'teams', :action => 'upmate', :id => t.id} %>

   <% end %>
   <%= link_to t.name, t %>

  <% if t.count < 2 %>
    <span style="color:red">
  <% elsif t.count > 1 and t.count < 4 %>
    <span style="color:orange">
  <% elsif t.count > 4 %>
    <span style="color:green">
  <% end %>
  <%= t.count %>/5<span>

  <br>
<% end %>
</p>
<hr>

<div class="row">
  <div class="col-md-6">
<p>
  Freelance Players <span class="badge"><%= @freelancers.count %>
</p>
<p>
  <% @freelancers.each do |f| %>
    <div><%= f.user.email.humanize %></div>
    <% if f.user.phone != nil %><div>Contact: <%= f.user.phone %></div><% end %>
    <small>Lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>

  <% end %>
</p>
</div>
<div class="col-md-6">

<p>
  All Players <span class="badge"><%= @all_players.count %></span>
</p>
<p>
<ul class="list-group">

  <% @all_players.each do |f| %>

    <li class="list-group-item">
      <span style="float:right"><%= f.team != nil ? "Team: "+ f.team.name : "" %></span>

      <div><%= f.user.email.humanize %></div>
      <% if f.user.phone != nil %>
        <div>Contact: <%= f.user.phone %></div>
      <% end %>
      <small>lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>
    </li>
  <% end %>
</ul>
</p>
</div>
</div>
