<p>
  <%= link_to 'Back', competitions_path %>
</p>

<div class="row">
  <div class="col-md-6">
    <h1><%= @competition.name %>

      <% if !@is_member %>
      <%= link_to "Join Competition" , {:controller => "competitions", :action => "join", :id => params[:id]}, :class => "btn btn-success pull-right" %>
      <% else %>
      <%= link_to "Leave Competition", {:controller => "competitions", :action => "leave", :id => params[:id]}, :class=> "btn btn-danger pull-right" %>
      <% end %>
    </h1>

  <p>
    <strong>Description:</strong>
    <%= @competition.description %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @competition.at.strftime("%B %d, %Y at %I:%M %p")  %>
  </p>
  <p>
    <strong>Organizer:</strong>
    <%= @competition.user.email %>
  </p>

  <%= link_to 'Admin Access', edit_competition_path(@competition) if current_user.id == @competition.user_id %>
  </div>
  <div class="col-md-6">
    <center><%= image_tag(@competition.image, :class=>"img img-responsive") if !@competition.image.blank? %></center>
  </div>
</div>
  <hr>

  <p>
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
        Teams <span class="badge"><%= @teams.count %></span><%= link_to 'Create Team', new_team_path( :competition_id => params[:id]), :class=>"pull-right" %>

      </span>
    </h3>
  </div>
  <ul class="list-group">
    <%= "<li class='list-group-item'>There are no teams yet</li>".html_safe if @teams.empty? %>
    <% @teams.each do |f| %>

    <a class="list-group-item" href="<%= url_for f %>">
      <div><b><%= f.name  %></b></div>
      <div><%= f.count %>/5 members</div>

    </a>
    <% end %>
  </ul>

</div>

<hr>

<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Freelance Players <span class="badge"><%= @freelancers.count %></span></span>
      </h3>
    </div>
    <ul class="list-group">
      <%= "<li class='list-group-item'>There are no freelance players</li>".html_safe if @freelancers.empty? %>
      <% @freelancers.each do |f| %>

      <li class="list-group-item">
        <span style="float:right"><%= f.team != nil ? "Team: "+ f.team.name : "" %></span>

        <div><%= f.user.email.humanize %></div>

        <small>lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>
      </li>
      <% end %>
    </ul>

  </div>


</div>
<div class="col-md-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">All Players <span class="badge"><%= @all_players.count %></span></span>
    </h3>
  </div>
  <ul class="list-group">
    <%= "<li class='list-group-item'>There are no players</li>".html_safe if @all_players.empty? %>
    <% @all_players.each do |f| %>

    <li class="list-group-item">
      <span style="float:right"><%= f.team != nil ? "Team: "+ f.team.name : "" %></span>

      <div><%= f.user.email.humanize %></div>

      <small>lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>
    </li>
    <% end %>
  </ul>

</div>
</div>
</div>
