<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<%= link_to 'Back', competitions_path, :class=>"back-buffer" %>

<div>
  <%= link_to 'Tournament Rules', 'http://cdn.leagueoflegends.com/prized-events/Tournament+Rules+Beta.pdf' %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-8">
        <h1><%= @competition.name %></h1>
      </div>
      <div class="col-xs-4">

        <h1>
          <% if !@is_member %>
            <%= link_to "Join Tournament" , {:controller => "competitions", :action => "join", :id => params[:id]}, :class => "btn btn-success pull-right" %>
          <% else %>

            <div class="dropdown pull-right">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Accepted
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for({:controller => "competitions", :action => "leave", :id => params[:id]}) %>">Leave Competition</a></li>
              </ul>
            </div>
          <% end %>
        </h1>
      </div>
    </div>

    <div class="gray-text">
      <p>
        <strong>Description:</strong>
        <%= @competition.description %>
      </p>
      <p>
        <strong>Date:</strong>
        <%= @competition.at.strftime("%B %d, %Y at %I:%M %p")  %>
      </p>
      <p>
        <strong>Location:</strong>
        <%= @competition.location %>
      </p>
      <p>
        <strong>Organizer:</strong>
        <%= @competition.user.try(:email) %>
      </p>
      <p>
        <strong>Short link:</strong>
        <% link = root_url + 'c/' + @competition.id.to_s %>
        <a href="<%= link %>"><%= link %></a>
      </p>

      <p>
        <% if !@competition.fb_page_url.blank? %>
        <strong>More info:</strong>
        <a href="<%= @competition.fb_page_url %>"><%= @competition.fb_page_url %></a>
          <div class="fb-like" data-href="<%= @competition.fb_page_url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <% end %>
      </p>

    </div>


    <%= link_to 'Admin Access', edit_competition_path(@competition) if current_user and current_user.id == @competition.user_id %>
  </div>
  <div class="col-md-6">
    <center><%= image_tag(@competition.image, :class=>"img img-responsive") if !@competition.image.blank? %></center>
  </div>
</div>
<hr>

<p>
</p>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="panel-title">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Teams <span class="badge"><%= @teams.count %></span></h4>
      <div class="btn-group pull-right">
        <%= link_to 'Create Team', new_team_path( :competition_id => params[:id]), :class=>"btn btn-info pull-right" %>
      </div>


    </h3>
  </div>
  <ul class="list-group">
    <%= "<li class='list-group-item'>There are no teams yet</li>".html_safe if @teams.empty? %>
    <% @teams.each do |f| %>

    <a class="list-group-item" href="<%= url_for f %>">
      <div><b><%= f.name  %></b></div>
      <div><%= f.count %>/5 members</div>

    </a>
    <% end %>
  </ul>

</div>

<hr>

<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Freelance Players <span class="badge"><%= @freelancers.count %></span></span>
      </h3>
    </div>
    <ul class="list-group">
      <%= "<li class='list-group-item'>There are no freelance players</li>".html_safe if @freelancers.empty? %>
      <% @freelancers.each do |f| %>

      <li class="list-group-item">
        <span style="float:right"><%= f.team != nil ? "Team: "+ f.team.name : "" %></span>

        <div><%= f.user.email.humanize %></div>

        <small>lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>
      </li>
      <% end %>
    </ul>

  </div>


</div>
<div class="col-md-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">All Players <span class="badge"><%= @all_players.count %></span></span>
    </h3>
  </div>
  <ul class="list-group">
    <%= "<li class='list-group-item'>There are no players</li>".html_safe if @all_players.empty? %>
    <% @all_players.each do |f| %>

    <li class="list-group-item">
      <span style="float:right"><%= link_to f.team.name, f.team if f.team != nil %></span>

      <div><%= f.user.email.humanize %></div>

      <small>lolking.net profile</small> <%= link_to f.user.summoner_name, "http://www.lolking.net/search?name=" + f.user.summoner_name + "&region=NA", :target => "_blank" %>
    </li>
    <% end %>
  </ul>

</div>
</div>
</div>

<% if !@competition.latitude.blank? and !@competition.longitude.blank? %>
<div id="map"></div>

<script>
// create a map in the "map" div, set the view to a given place and zoom
  var map = L.map('map').setView([<%= @competition.latitude %>, <%= @competition.longitude %>], 13);
  map.scrollWheelZoom.disable();
  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // add a marker in the given location, attach some popup content to it and open the popup
  L.marker([<%= @competition.latitude %>, <%= @competition.longitude %>]).addTo(map)
      .bindPopup('<h2 class="center"><%= @competition.name %></h2><br><%= @competition.location %>')
      .openPopup();
</script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
